<div id="history-list" class="zoom">
    <div class="table-loader m-5 text-center">{{ loaderDots() }}</div>
    <div class="table-filters"></div>
    <div class="table-pagination"></div>
    <table class="table table-striped table-adaptive table-nav table-bottom-stripe">
        <thead class="loading">
        <tr>
            <th>Type</th>
            <th>Transaction</th>
            <th>Age</th>
            <th class="text-right">Spendable</th>
            <th class="text-right">Stakable</th>
            <th class="text-right no-break">Voting Weight</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="table-pagination no-break"></div>
</div>
