<div class="address-summary">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Hash</th>
            <td class="text-right">
                {{ summary.hash }}
            </td>
        </tr>
        <tr>
            <th>First Seen</th>
            <td class="text-right">
                <a href="{{ path("app_block_view", {'height': address.createdBlock}) }}">{{ address.createdBlock }}</a>
            </td>
        </tr>
        <tr>
            <th>Age</th>
            <td class="text-right">
                {{ address.createdTime|age }}
            </td>
        </tr>
        </tbody>
    </table>
</div>