
<div class="col-sm-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <h2>{{ name }}</h2>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td><strong>Balance</strong></td>
                <td class="text-right">
                    {{ summary.balance.spending|stake_format }}
                </td>
            </tr>
            <tr>
                <td><strong>Sent</strong></td>
                <td class="text-right">
                </td>
            </tr>
            <tr>
                <td><strong>Received</strong></td>
                <td class="text-right">
                </td>
            </tr>
            <tr>
                <td><strong>Staked</strong></td>
                <td class="text-right">
                </td>
            </tr>
            <tr>
                <td><strong>Rich list</strong></td>
                <td class="text-right">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>