
<div class="col-sm-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <h2>Stake Rewards</h2>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td><strong>Spendable</strong></td>
                <td class="text-right">
                    {{ summary.spending.staked|nav }}
                </td>
            </tr>
            <tr>
                <td><strong>Stakable</strong></td>
                <td class="text-right">
                    {{ summary.staking.staked|nav }}
                </td>
            </tr>
            <tr>
                <td><strong>Voting Weight</strong></td>
                <td class="text-right">
                    {{ summary.voting.staked|nav }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>