<div id="wealthDistribution" class="distribution">
    <h1>Distribution</h1>

    <table class="table table-striped table-nav">
        <thead>
            <tr>
                <th></th>
                <th>Top</th>
                <th>Balance</th>
                <th class="text-center">% Holding</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="margin-top text-center">
        <svg></svg>
    </div>
</div>