{% extends "base.html.twig" %}

{% block title %}DAO{% endblock %}

{% block page %}page-dao-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>DAO</h1>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
