{% extends "base.html.twig" %}

{% block title %}NavCoin Block Explorer{% endblock %}

{% block page %}page-home-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row margin-bottom">
                <div class="col-md-6 col-sm-12">
                    {% include 'home/components/overview.html.twig' %}
                </div>

                <div class="col-md-6 col-sm-12">
                    {% include 'home/components/bestBlock.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
