{% extends "base.html.twig" %}

{% block title %}Navcoin Block Explorer{% endblock %}

{% block page %}page-home-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            {% include 'home/components/hud.html.twig' %}

            <div class="row margin-top margin-bottom">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    {% include 'home/components/address-groups.html.twig' %}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {% include 'home/components/market-chart.html.twig' %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>Latest Blocks</h2>
                    <div id="blocks" class="zoom"></div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>Latest Transactions</h2>
                    <div id="txs" class="zoom" data-parent="#block-collapse"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
