<div id="transaction-list">
    <h1>Latest Transactions</h1>

    <table class="table table-striped table-adaptive" data-url="{{ path('app_transaction_transactions') }}">
        <caption>
            <div class="table-pagination"></div>
        </caption>
        <thead>
            <tr>
                <th>Hash</th>
                <th>Height</th>
                <th>Date/Time</th>
                <th class="text-right">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr><th colspan="5">Loading transactions...</th></tr>
        </tbody>
    </table>
</div>