<div id="wealthDistribution" class="distribution">
    <h2>Wealth distribution</h2>
    <div class="text-center">
        <svg></svg>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Top</th>
                <th>Balance</th>
                <th class="text-center">% holding</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>