{% extends "base.html.twig" %}

{% block title %}Error - Backend Unavailable{% endblock %}

{% block page %}page-error-backend-unavailable{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>Nav Explorer is temporarily unavailable.</h1>
                    <p>
                        Sorry, we are unable to complete your request at this time.<br/>
                        We have been alerted to this problem and are working to resolve the issue.<br/>
                        Please try again later.
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
