<div class="card-footer">
    <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-info">View Proposal</a>
        {#<a href="{{ path('app_communityfund_view', {'hash': proposal.hash}) }}" class="btn btn-info">View Proposal</a>#}
    </div>
</div>