@import 'open-iconic';

@import 'colors';
@import 'buttons';
@import 'table';
@import 'nav-tabs';
@import 'card';
@import 'code';
@import 'header';
@import 'footer';
@import 'transaction';
@import 'form';
@import 'progress';
@import 'chart';
@import 'search';
@import 'soft-fork';
@import 'distribution';
@import 'community-fund';
@import 'dao';
@import 'history';
@import 'address';

html {
  overflow-y: scroll;
  cursor: default;
}

.body {
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 1rem 0;
  font-size: 1.8rem;
}

h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

p, li {
  font-family: 'Roboto', sans-serif;
}

a {
  color: $light-purple;
  span {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: $grey;
}

a:hover {
  color: $pink;
  text-decoration: none;
}

p {
  margin-bottom: 0.5rem;
}

.margin-top {
  margin-top: 0.5rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-half {
  margin-bottom: 1rem;
}

.badge {
  font-weight: normal;
}

small {
  color: $grey;
}

.alert {
  font-size: 1.1rem;
}

.container-fluid {
  max-width: 1200px;
}

.content {
  margin: 2rem 0 1rem;
}

.badge {
  padding: 4px;
}

.badge-tooltip {
  color: $white;
  background-color: $black;
  cursor: pointer;
}

.badge-transaction-count {
  margin-right: 1rem;
}

.badge-info {
  background-color: $light-blue;
}

.badge-pink {
  color: $white;
  background-color: $pink;
}

.badge-purple {
  background-color: $purple;
}

.badge-info {
  background-color: $light-blue;
}

.badge-staking {
  margin-right: 1rem;
}

.block-summary,
.transaction-summary {
  margin-bottom: 1.25rem;
}

.block-links {
  padding: 0.5rem 0.25rem;
  vertical-align: top;
  border-top: 1px solid #DFD7CA;
}

.block-transactions {
  margin-bottom: 28px;


  ul {
    list-style: none;
    padding: initial;
  }

  li {
    clear: both;
    overflow: hidden;
  }
}



.card-list {
  margin-bottom: 2rem;

  .card-header {
    font-size: 1.25rem;
  }

  .card-body {
    padding: 0.5rem;
  }

  .list-group-title {
    font-weight: bold;
  }

  .list-group-item {
    padding: 0.25rem 1.25rem;
  }
}

.break-word {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: none;
  hyphens: none;

}