
.btn {
  text-transform: inherit;
  font-size: 0.80rem;
  font-weight: normal;
  border-radius: 4px;
  padding: 0.1rem 0.60rem;
  margin-right: 0.30rem;
}

.btn-info {
  color: $white;
  background-color: $purple;
  border-color: $dark-purple;
}

.btn-info:hover {
  color: $white;
  background-color: $dark-purple;
  border-color: $purple;
}

.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
