.btn {
  text-transform: inherit;
  font-size: 0.875rem;
  font-weight: normal;
}

.btn-info {
  color: $white;
  background-color: $purple;
  border-color: $dark-purple;
}

.btn-info:hover {
  color: $white;
  background-color: $dark-purple;
  border-color: $purple;
}