$black: #111;
$light-black: #1d1d1d;
$light-purple: #7d59b5;
$purple: rgb(74, 58, 111);
$dark-purple: rgb(95, 72, 173);
$blue: rgb(56, 136, 237);
$light-blue: rgb(56, 136, 237);
$grey: grey;
$mid-grey: rgb(232, 232, 232);
$dark-grey: rgb(208, 208, 208);
$green: green;
$light-grey: #f9f9f9;
$white: #ffffff;
$off-white: #f9f9f9;
$yellow: #f0c067;
$pink: rgb(200, 57, 178);

$darkBg: #242424;
$darkText: rgb(95, 72, 173) !important;
