$black: #000000;
$light-purple: #7d59b5;
$purple: rgb(74, 58, 111);
$dark-purple: #4d3474;
$blue: rgb(34, 93, 248);
$light-blue: hsl(199, 81%, 59%);
$grey: grey;
$mid-grey: rgba(232, 232, 232, 1);
$dark-grey: rgba(208, 208, 208, 1);
$green: green;
$light-grey: #f9f9f9;
$white: #ffffff;
$off-white: #f9f9f9;
$yellow: #f0c067;
$pink: rgb(183, 61, 175);