.proposals-list {
  margin-top: 0.5rem;
}

.inline-proposal-description {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2;
}

.proposal-description {
  margin-bottom: 1rem;
  margin-top: 0.5rem;

  a {
    word-break: break-all;
  }
}

.paymentrequest-description {
  margin-bottom: 2rem;

  a {
    word-break: break-all;
  }
}

.card-proposal {
  margin-bottom: 2rem;
  border-radius: 0;

  .card-header {
    display: flex;
    height: 77px;
    overflow: hidden;

    h2 {
      align-self: flex-end;

      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
      height: 3.6em;
    }
    h2.height-2 {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.2;
      height: 2.4em;
    }
  }

  .card-footer {
    background-color: $mid-grey;

    a {
      margin: 0.2rem 0;
    }
  }
}

.filters {
  margin-bottom: 0.5rem;
  .filters-label {
    float: left;
    margin-right: 0.5rem;
  }
  ul {
    margin-top : 0;
    margin-bottom: 0;

    li.list-inline-item {
      margin-right: 0;
      padding-right: 0;


      a.active {
        font-weight: bold;
        pointer-events: none;
        color: inherit;
      }
    }

    li:not(:first-child):before {
      content: "| ";
    }
  }
}

.payment-requests, .proposal-vote {
  margin-bottom: 2rem;
}

.list-payment-requests {
  list-style: none;
  padding: 0;

  li {
    border-top: $mid-grey 1px solid;
    padding: 0.75rem 1.25rem;
  }

  li:nth-child(odd) {
    background: $light-grey;
  }
}