.card-proposal {
  margin-bottom: 1rem;

  .card-header {
    h5 {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 1.2;
      height: 3.6rem;
    }
  }

  .card-footer {
    border-top: 0;
  }
}