.dark-logo {
    display: none;
}

.light-logo {
    display: inline-block;
}

.dark {
  background-color: $darkBg !important;
  color: $darkText;

  .dark-logo {
    display: inline-block;
  }

  .light-logo {
      display: none;
  }

  header {
    a {
      text-decoration: none;
    }

    background-color: $darkBg;

    h1 {
        color: #ffffff;
    }
  }

  .table th, .table td {
    border-top: 1px solid $black;
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: $black;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: $light-black;
  }

  .card {
    background-color: inherit !important;
  }
  .card-raw {
    border: 1px solid $black;
  }
  .card-nav {
    .card-header {
      background-color: #292929 !important;
    }
    .card-body {
      border-top: 2px solid #4a3a6f;
      background-color: #222222 !important;
      border-bottom: 1px solid #222222;
    }
    .card-footer {
      background-color: #222222 !important;
    }
  }

  .form-control {
    background-color: $darkBg !important;
    border: 1px solid $black;
  }

  .input-group-append {
    button {
      background-color: $darkBg;
      border: 1px solid $black;
      color: $darkText;
    }
  }

  .nav-tabs {
    margin-bottom: -1px;
    border: 1px solid $darkBorder;
    background-color: $light-black;
  }

  #block-collapse {
    border: 1px solid $darkBorder;
    background-color: $light-black !important;
  }

  #market-chart,
  #address-groups {
    background-color: $light-black !important;
  }

  .progress {
      border-color: #8d8d8d;
  }

  .nav-tabs {
      a.active {
          border-top: 5px solid $purple !important;
          pointer-events: none;
      }
      .nav-item a.nav-link {
          background-color: inherit;
          border-color: $darkBorder;
          color: $darkText;
      }

      .nav-item a.nav-link {
          :hover {
              border-top-color: inherit;
          }
      }

      .nav-link:hover {
          border-top: 5px solid $purple !important;
          color: $purple;
      }
  }


  .list-group-item {
    border-top: 1px solid #4a3a6f;
    border-bottom: 1px solid #4a3a6f;
  }

  .alert, .badge {
      color: #f1f1f1;
  }
  .alert-info,
  .alert-success,
  .alert-danger {
    border-color: #f1f1f1;
  }

  .block-links {
    border-top: 1px solid $black;
  }

  pre {
    color: #808080;
    .key {
      color: #808080;
    }
    .string, .number {
      color: $darkText;
    }
  }

  button {
    background-color: $darkText;
    span {
      color: #4a3a6f;
    }
  }

  .dropdown-menu {
    background-color: $darkText;
  }

  .dropdown-item:hover {
    background-color: $darkText;
    color: #4a3a6f;
  }
}

@media only screen and (max-width: 855px) {
  .dark {
    table-striped {
      tbody tr:nth-of-type(odd) {
        background-color: $black;
      }
      tbody tr:nth-of-type(even) {
        background-color: $light-black;
      }
    }
    .table-adaptive tbody tr td:nth-of-type(odd) {
      background-color: $black;
    }
    .table-adaptive tbody tr td:nth-of-type(even) {
      background-color: $light-black;
    }
  }
}
