.form-filter {
  float: right;

  span {
    font-size: 1rem;
  }

  label {
    padding-left: 0.5rem;
  }

  input {
    margin-left: 0;
  }
}

.form-filter-disabled {
  pointer-events: none;

  label, input {
    opacity: 0.5;
  }
}

.dropdown-menu .dropdown-item {
  text-transform: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .selected {
  font-weight: bold;
  color: $dark-purple;
}