header {
  margin-bottom: 0.25rem;
  background-color: $light-grey;

  @media (max-width: 575px) {
    a {
      display: none;
    }
  }

  a, a:hover {
    color: $blue;
  }

  h1 {
    font-size: 4.4em;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0.5rem;

    @media (min-width: 576px) {
      padding: 14px 0 2px 210px;

      span {
        display: none;
      }

      background: url("/images/logo.png") 0 62% no-repeat;
      background-size: 206px 46px;
    }
  }

  .navbar-dark .navbar-nav {
    .nav-item {
      padding: 0 0.4rem 0 0;
    }
    .nav-link {
      color: #FFF;
      text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, .5);
      font-size: 1.1em;
      line-height: 22px;
      font-weight: 100;
      text-transform: inherit;
      padding: 0.5rem 1.5rem 0.5rem 0;
    }
  }

  .nav-link:hover {
    color: $off-white !important;
  }

  .bg-nav {
    background-color: $purple;
  }
}

.alpha-warning {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 14px;
  background-color: #dc3545;
  color: $white;
  padding: 0.5rem;
  text-align: center;
}

.testnet-warning {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 14px;
  background-color: $blue;
  color: $white;
  padding: 0.5rem;
  text-align: center;
}

.header-search {
  input {
    margin: 0;
  }
  .fa-search:before {
    content: "\f002";
  }
}