.page-home-index {
  .overview {
    margin-bottom: 2rem;

    h1 {
      margin-bottom: 0.3rem;
      float: left;
    }

    .form-filter {
      margin: 1rem 0 0;
      float: right;
    }
  }

  .bestBlock, #blocks, #txs {
    margin-top: 28px;
    margin-bottom: 2rem;
  }
}