.progress {
  background-color: white;
  border: $dark-grey 1px solid;
  height: 1.25rem;

  .bg-abstain {
    background: $dark-grey !important;
  }

  .progress-bar {
    color: $black;
    background-color: $mid-grey;

    .bg-nav {
      background-color: $dark-purple !important;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  .progress {
    background-color: #fff;
  }
}
