.table {
  margin-bottom: 0;

  th,
  td {
    padding: 0.5rem 0.25rem;
  }

  badge {
    margin-left: 0.25rem;
  }
}

.table-striped {
  thead {
    th {
      border-bottom: 0;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: $light-grey;
    }
  }
}

@media only screen and (max-width: 576px) {
  .table-adaptive {

    .table-pagination {
      .float-right {
        float: none !important;
      }
    }

    margin-bottom: 1.75rem;

    thead, tbody, th, td, tr {
      display: block;
    }

    thead {
      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    tbody {
      tr {
        border: 1px solid #ccc;
        border-bottom: 0;
      }

      th {
        font-weight: normal;
      }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 0.25rem 1rem 0.25rem 35%;
        text-align: right !important;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0.25rem;
        left: 0.25rem;
        //width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    }

    td[data-role="address"]:before { content: "Address"; }
    td[data-role="amount"]:before { content: "Amount"; }
    td[data-role="balance"]:before { content: "Balance"; }
    td[data-role="block"]:before { content: "Block"; }
    td[data-role="blocks"]:before { content: "Blocks"; }
    td[data-role="date/time"]:before { content: "Date/Time"; }
    td[data-role="description"]:before { content: "Description"; }
    td[data-role="hourlyPeriod"]:before { content: "Period"; }
    td[data-role="hash"]:before { content: "Hash"; }
    td[data-role="height"]:before { content: "Height"; }
    td[data-role="index"]:before { content: "Index"; }
    td[data-role="lastBlock"]:before { content: "Last Block"; }
    td[data-role="navRequested"]:before { content: "NAV Requested"; }
    td[data-role="navSpent"]:before { content: "NAV Spent"; }
    td[data-role="percentageOfCoins"]:before { content: "% of Coins"; }
    td[data-role="previousOutput"]:before { content: "Previous Output"; }
    td[data-role="proposal"]:before { content: "Proposal"; }
    td[data-role="rank"]:before { content: "Rank"; }
    td[data-role="redeemedIn"]:before { content: "Redeemed In"; }
    td[data-role="stakedBy"]:before { content: "Staked By"; }
    td[data-role="stakeRewards"]:before { content: "Stake Rewards"; }
    td[data-role="stake"]:before { content: "Stake"; }
    td[data-role="status"]:before { content: "Status"; }
    td[data-role="transactions"]:before { content: "Transactions"; }
    td[data-role="type"]:before { content: "Type"; }
    td[data-role="vote"]:before { content: "Vote"; }
    td[data-role="votingStatus"]:before { content: "Voting Status"; }
    td[data-role="type"]:before { content: "Type"; }
  }
}


.table-pagination {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 0.2rem;

      a {
        text-transform: capitalize;
      }
    }

    li:not(:first-child):before {
      content: "| ";
    }
  }
}