.transaction-list {
  .card {
    margin-bottom: 1.25rem;

    .card-header {
      background-color: #eee;

      small {
        color: inherit;
      }
    }

    .card-body {
      padding: 0;

      .row {

        @media (max-width: 767px) {
          span.caption {
            font-size: 1rem;
          }
          .inputs {
            border-bottom: 1px solid rgba(223,215,202,0.75);
            padding: 0.3rem 0;
          }
          .outputs {
            padding: 0.3rem 0;
          }
        }
        @media (min-width: 768px) {
          background: url("../images/arrow-thick-right.svg") 50% 1px no-repeat;
          background-size: 28px;

          span.caption {
            display: none;
          }

          .inputs {
            padding-left: 0;
            padding-right: 2rem;

            li {
              border-bottom: 1px solid $dark-grey;
              &:last-child{
                border: 0;
              }
            }
          }

          .outputs {
            padding-left: 2rem;
            padding-right: 0;

            li {
              border-bottom: 1px solid $dark-grey;
              &:last-child{
                border: 0;
              }
            }
          }
        }

        padding: 0 1.25rem;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0.3rem 0;
            overflow: hidden;

            .address-container {
              overflow: hidden;
              zoom: 1;
            }

            .address {
              max-width: 65%;
            }
          }
        }
        @media (max-width: 767px) {
          ul {
            li {
              border-bottom: 1px solid $dark-grey;
              &:last-child{
                border: 0;
              }
              padding: 0.3rem 0;
              line-height: 14px;

              .address {
                max-width: 50%;
                a {
                  display: block;
                  padding-bottom: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}