{% extends "base.html.twig" %}

{% block title %}Blocks{% endblock %}
{% block description %}Blocks on the Navcoin Chain{% endblock %}

{% block page %}page-block-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="block-list">
                        <h1>Blocks</h1>

                        <table class="table table-striped table-adaptive table-nav" data-url="{{ path('app_block_blocks') }}">
                            <caption>
                                <div class="table-pagination"></div>
                            </caption>
                            <thead>
                            <tr>
                                <th>Hash</th>
                                <th>Height</th>
                                <th>Date/Time</th>
                                <th class="text-center">Transactions</th>
                                <th>Staked By</th>
                                <th class="text-right">Stake</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr><th colspan="6">Loading blocks...</th></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
