{% extends "base.html.twig" %}

{% block title %}NavCoin Block {% endblock %}
{% block description %}{{ block.height }} - {{ block.hash }}{% endblock %}

{% block page %}page-block-view{% endblock %}

{% block body %}
    <div class="block" data-height="{{ block.height }}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>Block</h1>
                    </div>
                </div>
            </div>

            {% include "block/components/view_summary.html.twig" %}

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="collapse" data-target="#transactions" aria-expanded="true" aria-controls="transactions">
                                Transactions ({{ block.transactions|number_format }})
                            </a>
                        </li>
                        <li class="nav-item pull-right">
                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#raw-block" aria-expanded="false" aria-controls="raw-block">
                                Raw Data
                            </a>
                        </li>
                    </ul>

                    <div id="block-collapse">
                        <div id="transactions" class="collapse show" data-parent="#block-collapse">
                            {% include "block/components/view_transactions.html.twig" %}
                        </div>

                        <div id="raw-block" class="collapse collapsed" data-parent="#block-collapse">
                            {% include "block/components/view_raw_block.html.twig" %}
                        </div>

                        <div id="community-fund-votes" class="collapse collapsed" data-parent="#block-collapse">
                            {#{% include "block/components/view_community_fund_votes.html.twig" %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
