<div class="search-form margin-top">
    <div class="card card-padded">
        <div class="card-body">
            <h5 class="card-title">Search the blockchain</h5>
            <form action="{{ path('app_search_results') }}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="hash" name="hash" placeholder="Search by hash or height">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>