<div id="blocks">
    <h2 class="float-left">Blocks</h2>

    <table class="table table-striped table-adaptive table-nav" data-url="{{ path('app_block_blocks', {'size': 5}) }}">
        <thead>
        <tr>
            <th>Hash</th>
            <th>Height</th>
            <th>Date/Time</th>
            <th class="text-center">Transactions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="5">Loading blocks</th>
        </tr>
        </tbody>
    </table>
</div>