<table class="table table-striped table-adaptive table-nav" data-url="{{ path('app_block_blocks', {'size': 10}) }}">
    <thead>
    <tr>
        <th>Hash</th>
        <th>Height</th>
        <th>Date/Time</th>
        <th class="text-center">Transactions</th>
        <th class="text-right">Staked By</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="5">Loading blocks</th>
    </tr>
    </tbody>
</table>