<div class="row margin-top">

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <table class="table table-striped table-nav">
            <tr>
                <th>Navcoin&nbsp;In&nbsp;Circulation</th>
                <td class="text-right"><span id="circulating-supply">----</span></td>
            </tr>
            <tr>
                <th>Public&nbsp;Supply</th>
                <td class="text-right"><span id="public-supply">----</span></td>
            </tr>
            <tr>
                <th>Private&nbsp;Supply</th>
                <td class="text-right"><span id="private-supply">----</span></td>
            </tr>
        </table>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <table class="table table-striped table-nav table-second">
            <tr>
                <th>Price&nbsp;(BTC)</th>
                <td class="text-right"><span id="ticker-btc">----</span></td>
            </tr>
            <tr>
                <th>Price&nbsp;(USD)</th>
                <td class="text-right"><span id="ticker-usd">----</span></td>
            </tr>
            <tr>
                <th>Market&nbsp;Cap</th>
                <td class="text-right"><span id="market-cap">----</span></td>
            </tr>
        </table>
    </div>
</div>
