<div class="row margin-top">
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">BTC&nbsp;Price</div>
            <div class="card-body text-center"><span id="ticker-btc">----</span></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">USD Price</div>
            <div class="card-body text-center"><span id="ticker-usd">----</span></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">Market Cap</div>
            <div class="card-body text-center"><span id="market-cap">----</span></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">Best Block</div>
            <div class="card-body text-center"><span id="total-blocks">----</span></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">Total Supply</div>
            <div class="card-body text-center"><span id="circulating-supply">----</span></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card card-list card-nav">
            <div class="card-header text-center">Algorithm</div>
            <div class="card-body text-center">Proof of Stake</div>
        </div>
    </div>
</div>
