<div class="row">
    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-top">
        <h2>Circulation</h2>
        <table class="table table-striped table-nav">
            <tr>
                <th>Public&nbsp;(Nav)</th>
                <td class="text-right"><span id="public-supply">----</span></td>
            </tr>
            <tr>
                <th>Private&nbsp;(xNav)</th>
                <td class="text-right"><span id="private-supply">----</span></td>
            </tr>
            <tr>
                <th>Wrapped&nbsp;(wNav)</th>
                <td class="text-right"><span id="wrapped-supply">----</span></td>
            </tr>
        </table>
    </div>

    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-top">
        <h2>Price</h2>
        <table class="table table-striped table-nav">
            <tr>
                <th>Price&nbsp;(BTC)</th>
                <td class="text-right"><span id="ticker-btc">----</span></td>
            </tr>
            <tr>
                <th>Price&nbsp;(USD)</th>
                <td class="text-right"><span id="ticker-usd">----</span></td>
            </tr>
            <tr>
                <th>Market&nbsp;Cap <span id="market-cap-rank"></span></th>
                <td class="text-right"><span id="market-cap">----</span></td>
            </tr>
        </table>
    </div>
</div>
