<h2>Price Chart</h2>
<div id="market-chart" data-currency="usd" data-days="29">
    <div id="market-chart-chart-loader" class="m-5 text-center">{{ loaderDots() }}</div>
    <canvas id="market-chart-chart"></canvas>
</div>
