{% set url = path('app_transaction_transactions', {'filters': {'include_coinbase_txs': 'false', 'include_staking_txs': 'false'  }, 'size': 10}) %}

<table class="table table-striped table-adaptive table-nav" data-url="{{ url }}">
    <thead>
    <tr>
        <th>Hash</th>
        <th>Height</th>
        <th>Date/Time</th>
        <th class="text-center">Inputs</th>
        <th class="text-center">Outputs</th>
        <th class="text-right">Value out</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="5">Loading transactions</th>
    </tr>
    </tbody>
</table>
