<div id="txs">
    <h2 class="float-left">Transactions</h2>

    <table class="table table-striped table-adaptive table-nav" data-url="{{ path('app_transaction_transactions', {'size': 5}) }}">
        <thead>
        <tr>
            <th>Hash</th>
            <th>Height</th>
            <th>Date/Time</th>
            <th class="text-right">Value out</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="5">Loading transactions</th>
        </tr>
        </tbody>
    </table>
</div>