<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Nav Explorer - {% block title %}{% endblock %} - NavCoin</title>
        <meta name="description" content="{% block description %}NavCoin Block Explorer. Tracking Nav blocks, transactions, and addresses{% endblock %}">
        <meta http-equiv="content-type" content="text/html"/>
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab|Raleway|Roboto" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/sandstone/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}?t=24">
        {% endblock %}
        <link rel="shortcut icon" href="/images/favicon-1.png">
        <link rel="apple-touch-icon-precomposed" href="/images/nav-square.jpg">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116959084-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-116959084-1');
        </script>
    </head>
    <body class="{% block page %}{% endblock %}">
        {% block header %}
            {% include "components/header.html.twig" %}
        {% endblock %}

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            {% include "components/footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}?t=24"></script>
            <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
