<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Navcoin - Nav Explorer</title>
        <meta name="description" content="{% block description %}Navcoin Block Explorer. Tracking Nav blocks, transactions, and addresses{% endblock %}">
        <meta http-equiv="content-type" content="text/html"/>
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab|Raleway|Roboto" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.2.1/sandstone/bootstrap.min.css" integrity="sha384-T8Hp0+7hNSzMWfUlwSbmLBVrToSckKSiobfGsr5PL1ezzM/+aTdPnnMBTicJvoib" crossorigin="anonymous"/>
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
        <link rel="shortcut icon" href="/images/favicon-1.png">
        <link rel="apple-touch-icon-precomposed" href="/images/nav-square.jpg">
        <script>var EXPLORER_API="{{ explorer.api.url }}";</script>
    </head>
    <body class="{% if app.session.get('darkmode') == true %}dark {% endif %}{% if network == 'testnet' %}testnet {% endif %}{% block page %}{% endblock %}">
        {% block header %}
            {% include "components/header.html.twig" %}
        {% endblock %}

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            {% include "components/footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
