<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="network" data-network="{{ network }}">
                        <a class="btn btn-info" id="blackhole" href="/">
                            <i class="darkmode fas fa-moon {{ app.request.cookies.get('darkmode') ? 'd-none' : '' }}"></i>
                            <i class="lightmode fas fa-sun {{ app.request.cookies.get('darkmode') ? '' : 'd-none' }}"></i>
                        </a>
                        {% if network == 'mainnet' %}
                            <a class="btn btn-info" href="https://testnet.navexplorer.com">Testnet</a>
                        {% else %}
                            <a class="btn btn-info" href="https://www.navexplorer.com">Mainnet</a>
                        {% endif %}
                </div>
                <div class="float-right p-1"> All times displayed in UTC </div>
            </div>
        </div>
    </div>
</footer>
