<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="network" data-network="{{ network }}">
                    <ul>
                        <li><a href="http://www.navexplorer.com" {{ network == 'MAINNET' ? 'class="active"' : '' }}>Main Net</a></li>
                        <li><a href="http://testnet.navexplorer.com" {{ network == 'TESTNET' ? 'class="active"' : '' }}>Test Net</a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <ul>
{#                        <li><a class=dark-mode-toggle" href="http://www.navexplorer.com">Dark Mode</a></li>#}
                        <li>All times displayed in UTC</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
