<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="network" data-network="{{ network }}">
                    <ul>
                        <li><a href="http://www.navexplorer.com" {{ network == 'MAINNET' ? 'class="active"' : '' }}>Main Net</a></li>
                        <li><a href="http://testnet.navexplorer.com" {{ network == 'TESTNET' ? 'class="active"' : '' }}>Test Net</a></li>
                    </ul>
                </div>
                <div class="float-right"><a href="navcoin://NisUCJ7y9XVGzikdozwCB69RfEpX1myKAG">donate@navexplorer.com</a></div>
            </div>
        </div>
    </div>
</footer>