{% include "components/testnet-warning.html.twig" %}

<header>
    <div class="container-fluid">
        <a href="/"><h1>NavExplorer</h1></a>
    </div>

    {% include "components/nav.html.twig" %}
</header>
