{% include "components/testnet-warning.html.twig" %}

<header>
    <div class="container-fluid">
        <a href="/">
            <h1>
                <img src="/images/logo.png" width="72px" style="margin-right: 10px" />
                NavExplorer
            </h1>
        </a>
    </div>

    {% include "components/nav.html.twig" %}
</header>
