{% include "components/testnet-warning.html.twig" %}

<header>
    <div class="container-fluid">
        <a href="/">
            <h1>
                <img class="light-logo" src="/images/nav-logo-border.svg" width="48px" style="margin-right: 5px" />
                <img class="dark-logo" src="/images/xnav-logo-border.svg" width="48px" style="margin-right: 5px" />
                NavExplorer
            </h1>
        </a>
    </div>

    {% include "components/nav.html.twig" %}
</header>
