<div class="card">
    <div class="card-header"><h4>Difficulty</h4></div>
    <div class="card-body">
        <h2 class="card-text">{{ difficulty|number_format(2) }}</h2>
        <a href="#" class="card-link">Difficulty chart</a>
    </div>
</div>