{% extends "not_found.html.twig" %}

{% block title %}Server Error{% endblock %}

{% block page %}page-page-not-found{% endblock %}

{% block content %}
    <div>
        <h1>Server Error</h1>

        <p>
            We are unable to complete your request.<br>
            Please try again in a few moments.
        </p>

        <p>Feel free to join our <a href="https://discord.gg/y4Vu9jw">discord</a> if you need further assistance.</p>
    </div>
{% endblock %}
