<div class="row">
    {% for consultation in consultations %}
        <div class="col-sm-6 col-md-4 col-lg-4">
            {% include "dao/components/consultation_card.html.twig" %}
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="alert alert-info">
                There are no {{ active|proposalState }} consultations
            </div>
        </div>
    {% endfor %}
</div>