{% extends "base.html.twig" %}

{% block title %}Address {{ address.hash }}{% endblock %}
{% block description %}Transaction data for the {{ address.hash }} address{% endblock %}

{% block page %}page-address-index{% endblock %}

{% block body %}
    <div class="address" data-hash="{{ address.hash }}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="introduction">
                        <h1>
                            Address
                        </h1>
                    </div>
                </div>
            </div>

            {% include "address/components/index_summary.html.twig" %}

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link {% if activeTab == "transactions" %}active{% endif %}" href="#" data-toggle="collapse" data-target="#transactions" aria-expanded="true" aria-controls="transactions">
                                Transactions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activeTab == "cold-transactions" %}active{% endif %}" href="#" data-toggle="collapse" data-target="#cold-staking" aria-expanded="false" aria-controls="cold-staking">
                                Cold Transactions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activeTab == "staking-report" %}active{% endif %}" href="#" data-toggle="collapse" data-target="#staking-report" aria-expanded="true" aria-controls="staking-report">
                                Staking
                            </a>
                        </li>
                    </ul>

                    <div id="block-collapse">
                        <div id="transactions" class="collapse {% if activeTab == "transactions" %}show{% else %}collapsed{% endif %}" data-parent="#block-collapse">
                            {% include "address/components/index_transactions.html.twig" %}
                        </div>

                        <div id="cold-staking" class="collapse {% if activeTab == "cold-transactions" %}show{% else %}collapsed{% endif %}" data-parent="#block-collapse">
                            {% include "address/components/index_cold_staking.html.twig" %}
                        </div>

                        <div id="staking-report" class="collapse {% if activeTab == "staking-report" %}show{% else %}collapsed{% endif %}" data-parent="#block-collapse">
                            {% include "address/components/index_staking_report.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}