{% extends "base.html.twig" %}

{% block title %}Address {{ address.hash }}{% endblock %}
{% block description %}Transaction data for the {{ address.hash }} address{% endblock %}

{% block page %}page-address-index{% endblock %}

{% block body %}
    <div class="address" data-hash="{{ address.hash }}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="introduction">
                        <h1>
                            Address
                        </h1>
                    </div>
                </div>
            </div>

            {% include "address/components/summary.html.twig" %}
            {% include "address/components/transactions.html.twig" %}
        </div>
    </div>
{% endblock %}