{% extends "not_found.html.twig" %}

{% block title %}Transaction not found - {{ hash }}{% endblock %}

{% block page %}page-transaction-not-found{% endblock %}

{% block content %}
    <div>
        <h1>Transaction Not Found</h1>

        <h3>We cannot find a transaction associated with `{{ hash }}` hash.</h3>

        <p>Things to do:</p>
        <ol>
            <li>Confirm you entered the hash correctly. Hashes are case-sensitive.</li>
            <li>Are you exploring the correct network? Blocks on Mainnet will not exist on Testnet.</li>
            <li>Has the Nav blockchain reached the height you expected?</li>
        </ol>

        <p>Feel free to join our <a href="https://discord.gg/y4Vu9jw">discord</a> if you need further assistance.</p>
    </div>
{% endblock %}
