{% extends "base.html.twig" %}

{% block title %}Navcoin Transaction{% endblock %}
{% block description %}{{ transaction.hash }} - {{ transaction.height }}{% endblock %}

{% block page %}page-transaction-view{% endblock %}

{% block body %}
    <div class="transaction" data-height="{{ transaction.hash }}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>Transaction</h1>
                    </div>
                </div>
            </div>

            {% include "transaction/components/view_summary.html.twig" %}

            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="collapse" data-target="#transaction-details" aria-expanded="true" aria-controls="transaction-details">
                                Details
                            </a>
                        </li>
                        {% if transaction.outputs.communityFundVotes %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" data-target="#cfund-votes" aria-expanded="false" aria-controls="cfund-votes">
                                    Community Fund
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#raw-transaction" aria-expanded="false" aria-controls="raw-transaction">
                                Raw Data
                            </a>
                        </li>
                    </ul>

                    <div id="block-collapse">
                        <div id="transaction-details" class="collapse show" data-parent="#block-collapse">
                            {% include "transaction/components/view_inputs.html.twig" %}
                            {% include "transaction/components/view_outputs.html.twig" %}
                        </div>

                        <div id="raw-transaction" class="collapse collapsed" data-parent="#block-collapse">
                            {% include "transaction/components/view_raw_transaction.html.twig" %}
                        </div>
                        <div id="cfund-votes" class="collapse collapsed" data-parent="#block-collapse">
                            {% include "transaction/components/view_cfund_votes.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}