<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Votes counted for block <strong>{{ blockCycle.index|number_format }}</strong> of <strong>{{ blockCycle.size|number_format }}</strong>.<br/>
            {% if blockCycle.remainingBlocks == 1 %}
                There is <strong>{{ blockCycle.remainingBlocks|number_format }}</strong> block remaining in the current cycle.
            {% else %}
                There are <strong>{{ blockCycle.remainingBlocks|number_format }}</strong> blocks remaining in the current cycle.
            {% endif %}
        </div>
    </div>
</div>
