<div class="card card-proposal card-nav">
    <div class="card-header" style="{{ paymentRequest.isSuper ? 'background: #4a3a6f !important;  color: #ffffff;' : '' }}">
        <h2 class="clamp" data-lines="3" style="padding: 0px 10px;">{{ paymentRequest.description|capitalize}}</h2>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Payment Request Hash
                <span class="float-right">
                    <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}" class="break-word">
                        {{ paymentRequest.hash[0:10] }}...{{ paymentRequest.hash[paymentRequest.hash|length-4:] }}
                    </a>
                </span>
            </li>
            <li class="list-group-item">
                Nav Requested
                <span class="float-right">{{ paymentRequest.requestedAmount|nav }}</span>
            </li>

            <li class="list-group-item">
                <p>Acceptance</p>
                {{ paymentRequestVoteProgress(paymentRequest, blockCycle) }}

                <p>Participation</p>
                {{ paymentRequestVoteProgressParticipation(paymentRequest, blockCycle) }}

                <p>
                    Accept {{ paymentRequest.votesYes|number_format }} /
                    Reject {{ paymentRequest.votesNo|number_format }} /
                    Abstain {{ paymentRequest.votesAbs|number_format }} /
                    Exclude {{ paymentRequest.votesExcluded|number_format }}
                </p>
                <p>
                    Voting Cycle: {{ paymentRequest.votingCycle }}
                </p>
            </li>

            <li class="list-group-item">
                Status
                <span class="float-right">{{ paymentRequest.status|title }}</span>
            </li>

            <li class="list-group-item">
                Super proposal request
                <span class="float-right">{{ paymentRequest.isSuper ? 'Yes' : 'No' }}</span>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}">View Payment Request</a>
        </div>
    </div>
</div>
