<div class="margin-bottom-half">
    <h5><a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}" class="break-word">{{ paymentRequest.description|capitalize|default("No Description")}}</a></h5>
</div>