<div class="card card-proposal card-nav">
    <div class="card-header" style="{{ proposal.isSuper ? 'background: #4a3a6f !important;  color: #ffffff;' : '' }}">
        <h2 class="clamp" data-lines="3" style="padding: 0px 10px;">{{ proposal.description|capitalize}}</h2>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Proposal Hash
                <span class="float-right">
                    <a href="{{ path('app_communityfund_view', {'hash': proposal.hash}) }}" class="break-word">
                        {{ proposal.hash[0:10] }}...{{ proposal.hash[proposal.hash|length-4:] }}
                    </a>
                </span>
            </li>
            <li class="list-group-item">
                Nav Requested
                <span class="float-right">{{ proposal.requestedAmount|nav }}</span>
            </li>
            <li class="list-group-item">
                Nav Paid
                <span class="float-right">{{ (proposal.requestedAmount - proposal.notYetPaid)|nav }}</span>
            </li>
            <li class="list-group-item">
                Duration
                <span class="float-right">{{ proposal.duration }}</span>
            </li>
            <li class="list-group-item">
                <p>Acceptance</p>
                {{ proposalVoteProgress(proposal, blockCycle) }}

                <p>Participation</p>
                {{ proposalVoteProgressParticipation(proposal, blockCycle) }}

                <p>
                    Accept {{ proposal.votesYes|number_format }} /
                    Reject {{ proposal.votesNo|number_format }} /
                    Abstain {{ proposal.votesAbs|number_format }} /
                    Exclude {{ proposal.votesExcluded|number_format }}
                </p>
                <p>Voting Cycle: {{ proposal.votingCycle }}</p>
            </li>
            <li class="list-group-item">
                Status
                <span class="float-right">{{ proposal.status|title }}</span>
            </li>
            <li class="list-group-item">
                Super proposal
                <span class="float-right">{{ proposal.isSuper ? 'Yes' : 'No' }}</span>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-around">
            <a href="{{ path('app_communityfund_view', {'hash': proposal.hash}) }}">View Proposal</a>
        </div>
    </div>
</div>
