<div class="row">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><strong>Available</strong></td>
                    <td class="text-right">
                        {{ stats.available|nav }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Locked</strong></td>
                    <td class="text-right">
                        {{ stats.locked|nav }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Paid</strong></td>
                    <td class="text-right">
                        {{ stats.paid|nav }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
