<div class="row ">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped margin-bottom">
            <tbody>
                <tr>
                    <td><strong>Available</strong></td>
                    <td class="text-right">
                        {{ stats.available|stake_format }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Locked</strong></td>
                    <td class="text-right">
                        {{ stats.locked|stake_format }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Spent</strong></td>
                    <td class="text-right">
                        0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
