<div class="row">
    {% for proposal in proposals %}
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card card-proposal">
                {% include "community_fund/components/proposal/proposal-header.html.twig" %}

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Payment Address<br>
                        <a href="#" class="break-word">{{ proposal.paymentAddress }}</a>
                    </li>
                    <li class="list-group-item">
                        NAV Requested
                        <span class="float-right">{{ proposal.requestedAmount|stake_format }}</span>
                    </li>
                    <li class="list-group-item">
                        NAV Paid
                        <span class="float-right">{{ (proposal.requestedAmount - proposal.notYetPaid)|stake_format }}</span>
                    </li>
                    <li class="list-group-item">
                        Expiry Date
                        <span class="float-right">{{ proposal.expiresOn|date_localised('M jS Y, g:i:s a') }}</span>
                    </li>
                </ul>

                {% include "community_fund/components/proposal/proposal-footer.html.twig" %}
            </div>
        </div>
    {% endfor %}
</div>
