<div class="row">
    {% for paymentRequest in paymentRequests %}
        <div class="col-sm-6 col-md-4 col-lg-4">
            {% include "community_fund/components/paymentrequest_card.html.twig" %}
        </div>
    {% else %}
        <div class="col-md-12">
            <p>No payment requests have been made for this proposal</p>
        </div>
    {% endfor %}
</div>
