<div class="row">
    <div class="col-12">
        <h3>Voting cycle {{ votes.latestCycle.cycle }}</h3>
        <hr/>
    </div>

    <div class="col-md-6 col-sm-12">
        <h2>Acceptance</h2>
        {{ proposalVoteProgress(proposal, blockCycle, votes.latestCycle) }}
        <hr/>

        <h2>Participation</h2>
        {{ proposalVoteProgressParticipation(proposal, blockCycle, votes.latestCycle) }}

        <table class="table table-striped margin-top">
            <tr>
                <th>Accept</th>
                <td class="text-right">{{ votes.latestCycle.yes }} </td>
            </tr>
            <tr>
                <th>Reject</th>
                <td class="text-right">{{ votes.latestCycle.no }} </td>
            </tr>
            <tr>
                <th>Abstain</th>
                <td class="text-right">{{ votes.latestCycle.abstain }} </td>
            </tr>
            <tr>
                <th>Excluded</th>
                <td class="text-right">{{ votes.latestCycle.exclude }} </td>
            </tr>
        </table>
    </div>

    <div class="col-md-6 col-sm-12">
        <h2>Trend</h2>
        <div>
            <canvas id="trendChart"></canvas>
        </div>
    </div>

    <div class="col-12">
        <hr/>
    </div>
</div>

<div class="row" id="votes">
    <div class="col-md-3 col-sm-12 margin-bottom">
        <h4>Accept</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesYesDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.yes != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">
                            {{ vote.address[0:16] }}...{{ vote.address[vote.address|length-4:] }}
                        </a>
                    </td>
                    <td class="text-center">{{ vote.yes }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted for this proposal</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-12">
        <h4>Reject</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesNoDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.no != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">
                            {{ vote.address[0:16] }}...{{ vote.address[vote.address|length-4:] }}
                        </a>
                    </td>
                    <td class="text-center">{{ vote.no }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted against this proposal</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-12">
        <h4>Abstain</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesAbstainDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.abstain != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">
                            {{ vote.address[0:16] }}...{{ vote.address[vote.address|length-4:] }}
                        </a>
                    </td>
                    <td class="text-center">{{ vote.abstain }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has abstained from voting</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-12">
        <h4>Excluded</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesExcludeDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.exclude != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">
                            {{ vote.address[0:16] }}...{{ vote.address[vote.address|length-4:] }}
                        </a>
                    </td>
                    <td class="text-center">{{ vote.exclude }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody is excluded from voting</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
