<div class="row">
    {% for paymentRequest in paymentRequests %}
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card card-proposal card-nav">
                <div class="card-header" style="{{ paymentRequest.isSuper ? 'background: #4a3a6f !important;  color: #ffffff;' : '' }}">
                    <h2 class="clamp" data-lines="3" style="padding: 0px 10px;">{{ paymentRequest.description|capitalize}}</h2>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            Payment Request Hash
                            <span class="float-right">
                                <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}" class="break-word">
                                    {{ paymentRequest.hash[0:10] }}...{{ paymentRequest.hash[paymentRequest.hash|length-4:] }}
                                </a>
                            </span>
                        </li>

                        <li class="list-group-item">
                            Nav&nbsp;Requested
                            <span class="float-right">{{ paymentRequest.requestedAmount|nav }}</span>
                        </li>

                        <li class="list-group-item">
                            <p>Acceptance</p>
                            {{ paymentRequestVoteProgress(paymentRequest, blockCycle) }}

                            <p>Participation</p>
                            {{ paymentRequestVoteProgressParticipation(paymentRequest, blockCycle) }}

                            <p class="text-muted">
                            <span class="float-left">
                                Accept {{ paymentRequest.votesYes }} / Reject {{ paymentRequest.votesNo }}
                            </span>
                                <span class="float-right">Cycle: {{ paymentRequest.votingCycle }}</span>
                            </p>
                        </li>

                        <li class="list-group-item">
                            Status
                            <span class="float-right">{{ paymentRequest.status|capitalize }}</span>
                        </li>
                        <li class="list-group-item">
                            Super proposal request
                            <span class="float-right">{{ paymentRequest.isSuper ? 'Yes' : 'No' }}</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}">View Payment Request</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>No payment requests have been made for this proposal</p>
        </div>
    {% endfor %}
</div>
