<div class="row summary">
    <div class="col-md-8">
        <table class="table table-striped table-nav">
            <tbody>
            <tr>
                <td colspan="2" class="paymentrequest-description">
                    {{ paymentRequest.description }}
                </td>
            </tr>
            <tr>
                <th>Payment Request Hash</th>
                <td class="text-right break-word" id="proposal-hash" data-hash="{{ paymentRequest.hash }}">
                    {{ paymentRequest.hash[0:20] }}...{{ paymentRequest.hash[paymentRequest.hash|length-4:] }}
                </td>
            </tr>
            <tr>
                <th>Proposal&nbsp;Hash</th>
                <td class="text-right break-word">
                    <a href="{{ path('app_communityfund_view', {'hash': paymentRequest.proposalHash}) }}">
                        {{ paymentRequest.proposalHash[0:20] }}...{{ paymentRequest.proposalHash[paymentRequest.proposalHash|length-4:] }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Block&nbsp;Hash</th>
                <td class="text-right break-word">
                    <a href="{{ path('app_block_view', {'height': paymentRequest.blockHash}) }}">
                        {{ paymentRequest.blockHash[0:20] }}...{{ paymentRequest.blockHash[paymentRequest.blockHash|length-4:] }}
                    </a>
                </td>
            </tr>

            {% if paymentRequest.status == "paid" and paymentRequest.stateChangedOnBlock %}
                <tr>
                    <th>Paid On Block</th>
                    <td class="text-right break-word">
                        <a href="{{ path('app_search_results', {'hash': paymentRequest.stateChangedOnBlock}) }}">
                            {{ paymentRequest.stateChangedOnBlock[0:20] }}...{{ paymentRequest.stateChangedOnBlock[paymentRequest.stateChangedOnBlock|length-4:] }}
                        </a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-nav table-second">
            <tbody>
            <tr>
                <th>Nav&nbsp;Requested</th>
                <td class="text-right break-word">{{ paymentRequest.requestedAmount|nav }}</td>
            </tr>
            <tr>
                <th>Nav&nbsp;Available</th>
                <td class="text-right break-word">{{ proposal.notYetPaid|nav }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td class="text-right break-word">{{ paymentRequest.status|title }}</td>
            </tr>
            <tr>
                <th>Super proposal request</th>
                <td class="text-right break-word payment-super">{{ paymentRequest.isSuper ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
